@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<br /><br />
<div>
    <p>
            <h4> This project Online Recruitment System is an online website in which jobseekers can register themselves online and apply for job . Online Recruitment System provides online help to the users all over the world. Using web recruitment systems like recruitment websites or jobsites also play a role in simplifying the recruitment process. Such website apply for jobs suited to them.This site also make it possible for recruiters and companies to post their staffing requirement. Earlier recruitment was done manually and it was all at a time consuming work. Now it is all possible in a fraction of second. It is all done online without much time consuming.</h4><br/><h4> Today’s recruitment applications are designed to do a whole lot more than just reduce paperwork. They can make a significant contribution to a company’s marketing and sales activity. Recruitment websites and software make possible for managers to access information that is crucial to managing their staff, which they can use for promotion decisions, payroll considerations and succession planning.</h4>
    </p>
</div>