@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Pooja sharma<br />
    Associate Software Engineer<br />
    <abbr title="Phone"></abbr>
    9700312732<br />
    <abbr title="Email"></abbr>
    PS00557105@techmahindra.com
</address>

<address>
    Mythreyi Agraharam<br />
    Associate Software Engineer<br />
    <abbr title="Phone"></abbr>
    8142293199<br />
    <abbr title="Email"></abbr>
    AM00557789@techmahindra.com
</address>