
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <centre><h3>Site Under Construction</h3></centre>
</body>
<button>@Html.ActionLink("logout", "LogOut", "Account")</button>
<button>@Html.ActionLink("Back", "LoginSuccessfull")</button>



